.eimg{
    position: absolute;
    width: 637px;
    height: 454.81px;
    left: 119px;
    top: 193.2px;
    
}
.eword{
position: absolute;
width: 487px;
height: 256px;
left: 834px;
top: 209px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;

}
.eback{
position: absolute;
width: 100vw;
height: 100vh;
left: 0px;
top: 0px;

background: linear-gradient(252.11deg, #E63CCA 0%, #B604BA 100%);
}
.Nav{
    display: flex;
    justify-content: space-between;
    margin-left:5rem;
    margin-right:5rem;
}

@media only screen and (max-width:600px){
    .eimg{
        width:30rem;
        margin-top: -8rem;
        margin-left: -3rem;

    }
    .eword{
        margin-left: -47rem;
        margin-top: 15rem;
    }
}
@media only screen and (max-width:768px){
    .eimg{
        width:25rem;
        margin-top: -10rem;
        margin-left: -3rem;

    }
    .eword{
        margin-left: -47rem;
        margin-top: 10rem;
        font-size: 1.3rem;
    }
}